<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About Me</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        With a background in art & visual communication, I somehow broke into the tech world over
        9 years back and have been working as a software engineer ever since. My experience has
        run the gamut from startup to "Big 5" consultancy across sectors as diverse as financial
        services, eCommerce, and media.
      </p>
      <p>
        While in my previous roles I was more focussed on data-driven UI development using predominantly
        React & Redux, my focus has moved to full stack & DevOps in the last 3 years.  A normal day's
        work for my present client includes building services in Rust and Golang to support all aspects of
        an online ordering journey and managing the platform that supports these services using Istio,
        Kubernetes, ArgoCd, and Google Cloud Platform, among other tools.
      </p>
    </div>
    <div class="col-sm-6">
      <h3 style="margin-top:0;">Highlights</h3>
      <ul>
        <li>
          Was part of a small team put in place to set up a platform to be used across the organization; 
          it supports CI/CD to production via source control, and is currently in use by over TODO autonomous
          teams contributing to over 60 services via a shared monorepo
        </li>
        <li>
          TODO
        </li>
      </ul>
    </div>
  </div>
</div>
