<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Skills & Familiarity</h2>
      <hr/>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <ul>
          <li>
            DevOps
          </li>
          <li>
            GCP
          </li>
          <li>
            Kubernetes
          </li>
          <li>
            Docker
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <ul>
          <li>
            Istio
          </li>
          <li>
            ArgoCD
          </li>
          <li>
            Stackdriver
          </li>
          <li>
            Terraform
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <ul>
          <li>
            Full Stack
          </li>
          <li>
            Rust
          </li>
          <li>
            Golang
          </li>
          <li>
            Node.js
          </li>
        </ul>
        <p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <ul>
          <li>
            TypeScript
          </li>
          <li>
            React
          </li>
          <li>
            GraphQL
          </li>
          <li>
            React Native
          </li>
        </ul>
        <p>
      </div>
    </div>
</div>
