name: Pages Refresh

on:
  schedule:
    - cron: "1 0 1 * *" # Runs on the first day of every month; we need it to run every new year, on January 1 at 1am, but unfortunately, GH actions disabled workflows after 60 days...

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitHub pages rebuild
        run: |
          curl --fail --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/pages/builds \
            --header "Authorization: Bearer $GH_TOKEN"
        env:
          # You must create a personal token with repo access as GitHub does
          # not yet support server-to-server page builds.
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
